@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
:root{
    --buttonCart: #C3B97F;
    --mainColor: #1c5550;
    --mainHeader: #91B599;
    --addcart: #C3B97F;
    --price: #DFD9D9;

}